# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
.dist
dist-server
playground/netlify/netlify
*.local
.wrangler

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.iml
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Local Netlify folder
.netlify
